__pycache__
__init__.py
contrailsite/settings.py
contrailsite/fbcert/contrate-5064b-firebase-adminsdk-kraka-ae13d9defa.json
contrailsite/fbcert/setports.py
db.sqlite3
myvenv/
main/templates/ltr*
main/migrations*
