{% load static %}
{% load home_extras %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Accounting | Equation - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="{% get_attribute 'HOME_PAGE' %}static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{% get_attribute 'HOME_PAGE' %}static/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% get_attribute 'HOME_PAGE' %}static/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="{% get_attribute 'HOME_PAGE' %}static/assets/css/accounting-dashboard/style.css" rel="stylesheet" type="text/css" />
    <link href="{% get_attribute 'HOME_PAGE' %}static/sass/assets/icon-flag.scss" rel="stylesheet" type="text/css" />
    <link href="{% get_attribute 'HOME_PAGE' %}static/plugins/charts/c3charts/c3.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <!-- TABLES -->
    <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="{% get_attribute 'HOME_PAGE' %}static/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="{% get_attribute 'HOME_PAGE' %}static/plugins/table/datatable/custom_dt_customer.css">-->
    <!-- END TABLES -->

</head>
