{% load static %}
{% load home_extras %}
<!DOCTYPE html>
<html lang="en">
{% include 'tmplts/includes/head.html' %}

<body>

    {% include 'tmplts/includes/header.html' %}
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="cs-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'tmplts/includes/sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">

            </div>
        </div>
        <!--  END CONTENT PART  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <!--  BEGIN FOOTER  -->
    {% include 'tmplts/includes/footer.html' %}
    <!--  END FOOTER  -->

    <!--  BEGIN CONTROL SIDEBAR  -->
    {% include 'tmplts/includes/controlsidebar.html' %}
    <!--  END CONTROL SIDEBAR  -->

</body>
</html>
